//sass --watch --style compressed style.scss:style.css
//sass --style compressed style.scss style.css

$color-black: #555;
$color-white: #fff;

$color-hover-a: #6AC6FD;
$color-hover-b: #2DB2FF;

$color-active-a: #2283FF;
$color-active-b: #1463FF;

$color-key: mix($color-white, $color-black, 87%);
$color-key-hover: mix($color-hover-a, $color-hover-b, 87%);
$color-key-active: mix($color-active-a, $color-active-b, 87%);
$color-keyboard: mix($color-white, $color-black, 12%);
$color-text: $color-black;
$play: #38FD95;
$playHover: #2ABD6E;
$playing: #FF5E52;
$playingHover: #CC4B41;
$yellow: #F9E834;
$purple: #0A0B4A;

$font: 'Delicious Handrawn', 'Nanum Pen Script', Helvetica, Arial, sans-serif;

$key-radius: 4px;
$key-size: 64px;
$key-gutter: 4px;
$key-spacing-horizontal: 9px;
$key-spacing-vertical: 5px;
$keyboard-spacing: 16px;

$layout-breakpoint-small: 700px;

// *{
//   margin: 0;
//   padding: 0;
// }

body{
    background-color: black;
    font-family: $font;
}

.wrapper{
  display: none;
}

header{
  display: flex;
  justify-content: space-between;
}

#word{
  display: flex;
  font-size: 3em;
  color: $yellow;
}

#wordMobile{
  display: none;
}

.modal{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 120px;
  .box{
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: $purple;
    color: $yellow;
    font-family: $font;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    img{
      width: 100%;
      max-width: 400px;
      margin-top: -130px;
    }
    h1{
      font-size: 4em;
      margin: 5px 0;
    }
    h6{
      font-size: 2.5em;
      margin: 15px;
    }
    p{
      font-size: 2em;
      margin: 10px 0;
      color: $color-white;
    }
  }
}

.level{
  form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    #submit{
      background-color: $play;
      color: black;
      padding: 15px 40px;
      border: none;
      border-radius: 40px;
      font-family: $font;
      font-size: 3em;
      margin: 10px auto;
      &:hover{
        background-color: $playHover;
        cursor: pointer;
      }
    }
  }
  label{
      display: flex;
      cursor: pointer;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      margin: 0.375em 5px;
      justify-content: center;
      input {
        position: absolute;
        left: -9999px;
        &:checked + span {
          background-color: $yellow;
          color: black;
          &:before {
            box-shadow: inset 0 0 0 0.4375em black;
          }
        }
      }
      span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em; // or something higher...
        transition: 0.25s ease;
        font-size: 2em;
        &:hover {
          background-color: $color-key-active;
        }
        &:before {
          display: flex;
          flex-shrink: 0;
          content: "";
          background-color: $color-white;
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
          margin-right: 0.375em;
          transition: 0.25s ease;
          box-shadow: inset 0 0 0 0.125em black;
        }
    }
  }
}

.header-items{
  display: flex;
  align-items: center;;
  h6{
    margin: 0;
    color: white;
    font-size: 1.8em;
    padding: 0 20px;
    font-family: $font;
  }
  #timer, #score2{
    color: $yellow;
  }
}

.playPause{
  background-color: $play;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px;
  i{
    padding: 0;
  }
  &:hover{
    cursor: pointer;
    background-color: $playHover;
  }
}

.playing{
  background-color: $playing !important;
  &:hover{
    background-color: $playingHover !important;
  }
}

.keyboard-container{
  display: flex;
}
.keyboard{
  background-color: transparent;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  grid-template-columns: repeat(58, calc(($key-size + $key-gutter) / 4));
  grid-template-rows: repeat(10, calc(($key-size + $key-gutter) / 2));
  justify-content: center;
  letter-spacing: 1px;
  line-height: 24px;
  padding: $keyboard-spacing;
  transform-origin: top left;
  margin: auto;
  transform: inherit;
}
.key{
  align-items: center;
  background-color: $color-key;
  color: $color-text;
  border-radius: $key-radius;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  grid-column-end: span 4;
  grid-row-end: span 2;
  grid-template-columns: repeat(2, calc($key-size / 2));
  grid-template-rows: repeat(2, calc($key-size / 2));
  justify-content: center;
  padding: $key-spacing-vertical $key-spacing-horizontal;
  margin: calc($key-gutter / 2);
  &:hover{
    background-color: $color-key-hover;
    color: $color-white;
  }
  &:active{
    background-color: $color-key-active;
    color: $color-white;
  }
  &.is-arrow-down,
  &.is-arrow-up{
    grid-column-start: 51;
    grid-row-end: span 1;
  }
  &.is-arrow-down{
    border-radius: 0 0 $key-radius $key-radius;
    grid-row-start: 10;
    margin-top: calc($key-gutter / 4);
  }
  &.is-arrow-up{
    border-radius: $key-radius $key-radius 0 0;
    grid-row-start: 9;
    margin-bottom: calc($key-gutter / 4);
  }
  &.is-backspace,
  &.is-tab{
    grid-column-end: span 6;
  }
  &.is-backspace{
    align-items: flex-end;
  }
  &.is-capslock{
    grid-column-end: span 7;
  }
  &.is-command,
  &.is-shift-left{
    grid-column-end: span 5;
  }
  &.is-enter{
    border-radius: 0 $key-radius $key-radius $key-radius;
    grid-column-start: 56;
    grid-column-end: span 3;
    grid-row-end: span 4;
    position: relative;
    &::before,
    &::after{
      content: '';
      position: absolute;
    }
    &::before{
      background-color: $color-key;
      border-radius: $key-radius 0 0 $key-radius;
      height: $key-size;
      left: - calc($key-size / 4);
      top: 0;
      width: calc($key-size / 4);
    }
    &::after{
      border-top-right-radius: $key-radius;
      box-shadow: - $key-gutter $key-gutter 0 0 $color-key inset;
      cursor: default;
      height: $key-gutter * 2;
      left: - $key-gutter;
      top: $key-size - $key-gutter;
      width: $key-gutter * 2;
    }
    .key__top{
      height: $key-size - ($key-spacing-vertical * 2);
    }
  }
  &.is-left,
  &.is-right{
    font-size: 12px;
    justify-content: space-between;
    line-height: 20px;
  }
  &.is-left{
    align-items: flex-start;
  }
  &.is-right{
    align-items: flex-end;
  }
  &.is-shift-right{
    grid-column-end: span 9;
  }
  &.is-space{
    grid-column-end: span 20;
  }
  &.is-tab{
    align-items: flex-start;
  }
}
.key__bottom,
.key__top{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.key__bottom{
  flex-grow: 1;
}

.logo{
    max-width: 100px;
    width: 100%;
    img{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}

.display{
    font-size: 3em;
    color: $color-white;
    text-align: center;
    font-family: $font;
    input{
      background-color: transparent;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 3em;
      text-align: center;
      color: white;
      border: none;
      font-family: $font;
    }
  }

  .keyPressed{
    color: $color-white !important;
    background-color: $color-key-active !important;
  }

  /**** Mobile Keys ******/

 #keyboard-mobile{
    background: #000;
    font-family: sans-serif;
    color: white;
  }

  .mobileKeys{
    width: 100%;
  }

  .keyboard__row {
    display: flex;
  }
  
  .keyboard__key {
    display: block;
    height: 60px;
    width: 12.5%;
    flex-grow: 1;
    text-align: center;
    line-height: 60px;
    font-family: sans-serif;
    font-size: 24px;
    margin: 5px;
    border-radius: 5px;
    background: #333;
    cursor: pointer;
    &:hover{
      background-color: $color-key-hover;
      color: $color-white;
    }
    &:active{
      background-color: $color-key-active;
      color: $color-white;
    }
  }
  
  .keyboard__key.is-down {
    background: #8AF;
    color: white;
  }

  #keyboard-mobile{
    display: none;
  }
  #keyboard-desktop{
    display: flex;
  }

  /*********** Mobile ***************/
  @media (max-width: $layout-breakpoint-small) {
    .level{
      form{
        flex-direction: column;
      }
    }
    .display{
      font-size: 1em;
    }
    .header-items{
      h6{
        font-size: 1.2em;
      }
    }
    #word{
      font-size: 1.2em;
      display: none;
    }
    #wordMobile{
      display: block;
      font-size: 1.5em;
      text-align: center;
      color: $yellow;
      margin: 5px 0px;
    }
    #keyboard-mobile{
      display: block;
    }
    #keyboard-desktop{
      display: none;
    }
  }
